body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECECEC;

}

h4 {
	color: white;
}

.nav-color {
    background-color: #1BA261;
    border-color: 6px solid #1BA261;
    color: white;
    font-weight: bold;
}
.nav-color a{
	color: white;
}
.navbar .navbar-expand .navbar-light {
    color: white;
    font-weight: bold;
    border-color: 6px solid #1BA261;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.section-main {
  background-color: #1BA261;
}

.section-grey {
  background-color: white;
}


.section-grey h4 {
	color: green;
}

h6 {
	color: green;
}

.section-grey form  {
	background-color: white;
  border: 2px solid #1BA261;
  margin-top: 3px;
}
.fixed-bottom {
	margin-top: -10px;
}
.navbar-light {
	color: white;
	font-weight: bold;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.card-header:first-child {
  background-color: #1BA261;
}

.cookiePolicy {
  display: none;
}

.card-body .disabled  {
    pointer-events: none;
    opacity: 0.4;
}
